.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}
.checkout_ad{
    width: 100%;
    margin-bottom: 10px;
}
/* .checkout_productlist{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
 }  */
 .checkout_title{
   padding: 10px;
   border-bottom: 1px solid lightgray; 
 }
 .checkout_ad{
    width: 100%;
    margin-bottom: 10px;
 }